<div class="container" id="body">
  <div class="row">
    <div class="col" id="navbar">
      <nav class="navbar navbar-expand-md" id="navbar">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/pages/pagina-principal">Página Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/pages/estudios">Estudios</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Proyectos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" routerLink="/pages/proyecto1">Proyecto 1</a></li>
                  <li><a class="dropdown-item" href="#">Proyecto 2</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Proyecto 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
